<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
	<script type="text/javascript" src="scripts/ui-ace.min.js"></script>
	<script type="text/javascript" src="record.js"></script>
	<style>
		.ace_editor {
			height:200px 
		}
	</style>
</head>
<body ng-app="app">
	<div class="container" ng-controller="myController">
		<div class="panel">
			<h2>Ready to start with first question?</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<button class="btn btn-default" ng-click="snapshot()">Start Recording</button>
			<button class="btn btn-default" ng-click="stop()">Stop Recording</button>
			<div ui-ace ng-model="text" record-text class="form-control">
			</div>
		</div>
		<div class="panel">
			<h2>Play Recording</h2>
			<div class="row">
				<div class="btn-toolbar">
					<div class="btn-group"> 
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon glyphicon-play" aria-hidden="true">Start</span>
					</button> 
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon glyphicon-pause" aria-hidden="true"></span>
					</button>
					 <button type="button" class="btn btn-default">
					 	<span class="glyphicon glyphicon glyphicon-stop" aria-hidden="true"></span>
					 </button>
					</div>
				</div>
			</div>
			<button class="btn btn-default" ng-click="start(recordedModel)">Start</button>
			<div ui-ace text-player ng-model="stage" class="form-control"></div>
		</div>
	</div>
</body>
<html>