<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body ng-app="app">
	<ng-view>
	</ng-view>
	<div class="container" ng-controller="HomeController as homeCtrl">
		<div class="panel">
			<h2>Ready to start with first question?</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<div ui-ace 
				 ng-model="homeCtrl.response"
				 record-text="homeCtrl.response"
				 record-output="homeCtrl.record"
				 class="form-control">
			</div>
			<pre>{{ homeCtrl.record | json }}</pre>
		</div>
		<div class="panel">
			<h2>Play Recording</h1>
			<button class="btn btn-default" ng-click="start(recordedModel)">Start</button>
			<div ui-ace ng-model="stage" class="form-control"></div>
		</div>
	</div>
	<script type="text/javascript" src="https://rawgit.com/ajaxorg/ace-builds/v1.1.1/src-min-noconflict/ace.js"></script>
	<script type="text/javascript" src="../dist/angular/angular.min.js"></script>
	<script type="text/javascript" src="../dist/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="../dist/angular-ui-ace/src/ui-ace.js"></script>
</body>
<html>